
        h5 {
            color: brown;
        }
        div {background-color: beige;

        }
        .header {background-color: blueviolet; color: green;

        }
        .about {background-color: azure;}
        .white-color {
            color: aliceblue;
        }
        #cats-types {
            font-size: 30px;
        }
